.product {
  width: 175px;
  border: solid 1px;
  border-radius: 3%;
  border-color:  #e5e5e6;
  margin: 6px;
  height: 245px;
  padding: auto;
}

.store{
  float: left;
  display: flex;
  width: 780px;
  margin: 30px 10px;
  padding: 15px;
  background-color: white;
}

.product-img {
  /* width: 100%; */
  margin: 5px;
  height: 120px;
}

img{
  width: 100%;
  height: 100%;
}

.product-info {
  margin-top: 11px;
  padding: 3px 8px;
  text-align: left;
}

.product-info p {
  margin: 2px;
}

.product-add{
  text-align: right;
  padding-right: 20px;
}
.product-add button{
  text-align: center;
}
svg {
  display: flex;
}